{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estedrak | اتصل بنا</title>
    <link rel="stylesheet" href="{% static 'core/CSS/main.css' %}" />
    <script
      src="https://kit.fontawesome.com/8b5bfaa248.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="navbar" dir="ltr">
      <div class="nav-icon">
        <h1><a href="/">إستدراك</a></h1>
      </div>
      <i class="fa-solid fa-bars menu-toggle" aria-label="فتح القائمة"></i>
      <ul class="nav-container menu-animated">
        {% for university in unis %}
        <li class="nav-item">
          <a href="{% url 'core:faculty_list_public' university.id %}">
            {{ university.name }}
          </a>
        </li>
        {% empty %}
        <li class="nav-item"><a href="#">لا توجد جامعات متاحة حاليًا</a></li>
        {% endfor %}
        <li class="nav-item"><a href="{% url 'core:about' %}">عن الموقع</a></li>
        <li class="nav-item"><a href="{% url 'core:contact' %}">اتصل بنا</a></li>
      </ul>
    </nav>

    <section class="hero">
      <div class="hero-section">
        <h1>اتصل بنا</h1>
        <p>إذا كان لديك أي استفسارات أو اقتراحات، فلا تتردد في التواصل معنا.</p>
      </div>
    </section>

    <section class="contact-us">
      <form action="#" method="post">
        <div class="form-group">
          <label for="name">الاسم</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">البريد الالكترونى</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="message">الرسالة</label>
          <textarea id="message" name="message" required></textarea>
        </div>
        <div class="form-group">
          <button type="submit">ارسال</button>
        </div>
      </form>
      <h2>or</h2>
      <div class="social-media">
        <a
          href="https://web.facebook.com/profile.php?id=61560032261539"
          target="_blank"
          ><i class="fab fa-facebook"></i
        ></a>
        <a
          href="https://x.com/astidrak?t=nvTdL3QPMBCWtkostB7AkQ"
          target="_blank"
          ><i class="fab fa-x-twitter"></i
        ></a>
        <a
          href="https://www.instagram.com/astid_rak1?igsh=Y2F5NHlxbmwzN21i"
          target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="navigation">
          <ul>
            <li><a href="{% url 'core:index' %}">الرئيسية</a></li>
            <li><a href="{% url 'core:about' %}">عن الموقع</a></li>
            <li><a href="{% url 'core:contact' %}">تواصل معنا</a></li>
          </ul>
        </div>
        <div class="social-media">
          <a
            href="https://web.facebook.com/profile.php?id=61560032261539"
            target="_blank"
            ><i class="fab fa-facebook"></i
          ></a>
          <a
            href="https://x.com/astidrak?t=nvTdL3QPMBCWtkostB7AkQ"
            target="_blank"
            ><i class="fab fa-x-twitter"></i
          ></a>
          <a
            href="https://www.instagram.com/astid_rak1?igsh=Y2F5NHlxbmwzN21i"
            target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
      <p>© 2025 Estedrak. All rights reserved.</p>
    </footer>

    <script src="{% static 'core/JS/main.js' %}"></script>
  </body>
</html>
