{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/CSS/dash.css' %}">
<script src="https://kit.fontawesome.com/8b5bfaa248.js" crossorigin="anonymous"></script>

<div class="table">
    <span>
        <h1>Programs in {{ faculty.name }}, {{ faculty.university.name }}</h1>
        <a href="{% url 'core:dashboard_program_add' faculty.pk %}">Add Program</a>
    </span>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs %}
            <tr>
                <td>{{ program.name }}</td>
                <td>
                    <a href="{% url 'core:dashboard_program_edit' program.pk %}" class="edit">Edit</a>
                    <a href="{% url 'core:dashboard_program_delete' program.pk %}" class="del">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'core:dashboard_program_select_faculty' faculty.university.pk %}">Back to Faculty Selection</a>
</div>
{% endblock %}